<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta id="theme-color" name="theme-color" content="#ffffff" />
<meta name="viewport" content="width=device-width, user-scalable=no">
<title><%= title %></title>
<link rel="shortcut icon" href="favicon.ico">
<link rel="apple-touch-icon" href="favicon.ico">
<script src="js/jquery-3.0.0.min.js"></script>
<script src="semantic/dist/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="css/main.css" />