<div class="ui grid">
	<div class="three wide column"></div>
	<div class="ten wide column">
		<h4 class="ui horizontal divider header">
		  	<i class="bar chart icon"></i>
		  	成绩统计
		</h4>
		<% include scores %>
		<h4 class="ui horizontal divider header">
		  	<i class="bar chart icon"></i>
		  	学分统计
		</h4>
		<% include credit %>
		<h4 class="ui horizontal divider header">
		  	<i class="bar chart icon"></i>
		  	考试信息
		</h4>
		<% include exams %>
	</div>
	<div class="three wide column"></div>
</div>

<div class="footer">Created by SchoolDays.</div>